<h1>LOGIN SUCCESS</h1>

<head>
  <meta charset="UTF-8">
</head>

<body>
	<h1>Search for Picture</h1>

  <form class='search'>
		<input id="search-picture-keyword" type="text" placeholder="Enter Keyword" name="instagram[tags]">
		<input class="button orange" type="submit" value="Find It!">
	</form>

</body>