<h1>LOGIN SUCCESS</h1>

<head>
  <meta charset="UTF-8">
</head>

<body>
	<h1>Search for Picture</h1>

  <form id='search'>
		<input id="search-picture-keyword" type="text" placeholder="Enter Keyword" name="picture[keyword]">
		<input class="button orange" type="submit" value="Find It!">
	</form>

	<li>
    <%= button_to "Log Out", session_url, method: "delete" %>
  </li>
	<li>
	  <%= link_to "Change Password", edit_users_url(@current_user) %>
	</li>
</body>